<div class="container">
  
  <h1>Edit Wiki</h1>
  
  <div class="row">
    <div class="col-md-4">
      <p>Guidelines for wikis:</p>
      <ul>
        <li>We</li>
        <li>Invite</li>
        <li>Kinky</li>
        <li>Indigo</li>
        <li>Snakes</li>
      </ul>
    </div>
    <div class="col-md-8">
      <%= form_for @wiki do |f| %>
        <div class="field form-group">
          <%= f.label :title, class: 'text-muted' %>
          <%= f.text_field :title, autofocus: true, class: 'form-control', placeholder: "Enter wiki title" %>
        </div>
        
        <div class="field form-group">
          <%= f.label :body, class: 'text-muted' %>
          <%= f.text_area :body, class: 'form-control', placeholder: "Enter wiki body" %>
        </div>
        
        <%= render partial: 'form', locals: {f: f} %>
        
        <div class="actions form-group">
          <%= f.submit "Edit Wiki", class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
  </div>
  
</div>
